/server/log.txt
/client/log.txt
/client/log_client.txt
/.venv/
/client/recursy.py
/.idea/.gitignore
/.idea/misc.xml
/.idea/MK.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/test/
media.json
.gitignore